NC_DOMAIN=cloud.domain.org
RECORDING_SECRET=yourrecordingsecret # unique key
SIGNALING_SECRET=yoursignalingsecret # unique key
TALK_INTERNAL_SECRET=yourtalkinternalsecret # unique key
TIMEZONE=Europe/Moscow
TURN_SECRET=yourturnsecret
TALK_PORT=8888
